<div class="app-game-area-container">
    <audio id="eat_apple" src="audio/eat.mp3"></audio>
    <audio id="game_over" src="audio/game_over.mp3"></audio>
    <audio id="next_level" src="audio/next_level.mp3"></audio>
    <audio id="move_make" src="audio/move.mp3"></audio>
	<div class="app-game-area-controls">
        <button class="game-btn" id="game_area_save">{save}</button>        
        <a class="game-btn" id="game_area_home" href="#/home">{home}</a>    
        <a class="game-btn" id="game_area_new_game" href="#/newgame">{new_game}</a>        
    </div>
    <div class="app-game-area-info">
        <div class="app-game-area-infoBlock">
            <span class="app-game-area-infoBlockLabel">{level}</span>
            <span class="app-game-area-infoBlockData" id="game_area_level"></span>
        </div>
        <div class="app-game-area-infoBlock">
            <span class="app-game-area-infoBlockLabel">{score}</span>
            <span class="app-game-area-infoBlockData" id="game_area_score">0</span>
        </div>
        <div class="app-game-area-infoBlock">
            <span class="app-game-area-infoBlockLabel">
                {foods}                
                <span id="game_area_foods"></span>
            </span>
        </div>
    </div>    
    <div class="app-game-area">
		<div id="game_msg" class="game_area hidden"></div>
        <canvas id="game_area"></canvas>
    </div>
</div>