<div class="app-home">
	<img src="../images/logo.png" class="app-home__logo"/>
    <nav class="app-home__nav">
        <img src="../images/menu.png"/>
        <ul class="app-nav">
            <li class="app-nav__item app-nav-item__new-game">
                <a href="#/newgame" class="app-nav-item__link">{new_game}</a>
            </li>
            <li class="app-nav__item app-nav-item__continue">
                <a href="#/continue" class="app-nav-item__link">{continue}</a>
            </li>
            <li class="app-nav__item app-nav-item__settings">
                <a href="#/settings" class="app-nav-item__link">{settings}</a>
            </li>
        </ul>
    </nav>
</div>