<div class="app-settings">
    <div class="app-settings__bg">
        <nav class="app-settings__list">
            <img src="../images/menu.png"/>
            <form name="settings">
                <ul class="app-settings-list">
                    <li id="settings_music" class="app-settings-list__item app-settings-list-item__music">
                        <span class="app-settings__label">{music}</span>
                        <br/>
                        <input type="radio" name="music" value="on" id="music_on" checked/>
                        <label for="music_on">{on}</label>
                        <input type="radio" name="music" value="off" id="music_off"/>
                        <label for="music_off">{off}</label>
                    </li>
                    <li id="settings_ge" class="app-settings-list__item app-settings-list-item__game-effects">
                        <span class="app-settings__label">{game_effect}</span>
                        <br/>
                        <input type="radio" name="game_effects" value="on" id="ge_on" checked/>
                        <label for="ge_on">{on}</label>
                        <input type="radio" name="game_effects" value="off" id="ge_off"/>
                        <label for="ge_off">{off}</label>
                    </li>
                    <li id="settings_lang" class="app-settings-list__item app-settings-list-item__lang">
                        <span class="app-settings__label">{language}</span>
                        <br/>
                        <input type="radio" name="lang" value="ru" id="lang_ru"/>
                        <label for="lang_ru">
                            <img src="../images/flags/rus.png" />
                        </label>
                        <input type="radio" name="lang" value="ua" id="lang_ua"/>
                        <label for="lang_ua">
                            <img src="../images/flags/ukr.png" />
                        </label>
                        <input type="radio" name="lang" value="en" checked id="lang_en"/>
                        <label for="lang_en">
                            <img src="../images/flags/eng.png" />
                        </label>
                    </li>
                </ul>
            </form>
        </nav>
    </div>
</div>